* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

:root {
    --background-color: #000000;
    --text-field: white;
    --text-title: #95ca3e;
    --button: #F6DF1C;
    --input: #D6DAD9;
}

html {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

header {
    background-color: #121f3d;
}

.contact__info {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.js-logo {
    width: 70px;
    height: 70px;
    margin: 16px 8px 16px 8px;
}

.platzi-logo {
    display: none;
}

.author {
    color: var(--text-field);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 8px;
}

main {
    display: grid;
    margin: 24px;
}

.main__description {
    color: var(--text-title);
    text-align: center;
    margin-bottom: 12px;
}

.main__description-detail {
    text-align: justify;
    margin-bottom: 8px;
}

.main__title {
    color: var(--text-title);
    margin: 24px 0 24px;
}

.main__text {
    margin-bottom: 12px;
}

.button {
    margin: 0 -24px;
    height: fit-content;
}

.main__button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top: 4px solid var(--background-color);
    background-color: var(--button);
    height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
}
.image__button {
    height: 128px;
    width: 128px;
    
}

.button-description {
    color: var(--background-color);
    display: grid;
    padding: 16px 16px;
    width: 100%;
}

.figures, .prom, .discounts {
    display: flex;
    flex-direction: column;
    margin: 24px;
}

.introduction__header h1 {
    color: var(--text-title);
    margin-bottom: 12px;
    text-align: center;
}

.content__square {
    margin: 24px 0;
}

.content__square h2, .content__triangle h2, .content__circle h2 {
    color: var(--text-title);
}

.figures__form {
    margin-top: 12px;
}

.figures__input, .mean__input, .discounts__input {
    background-color: var(--input);
    border-radius: 4px;
}

.figures__button, .mean__button, .button__discounts {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--text-field);
    background-color: var(--text-title);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 90%;
}

.triangle__form, .discounts__form {
    list-style: none;
    padding: 0;
}

.triangle__form li, .discounts__form li {
    margin-top: 8px;
}

.content__circle {
    margin-top: 24px;
}

.prom__mean, .price__discounts {
    margin-top: 24px;
}

.prom__mean h2, .prom__mode h2, .prom__median h2, .price__discounts h2, .price__coupons h2 {
    color: var(--text-title);
    margin-bottom: 12px;
}

.result__pop {
    margin-bottom: 12px;
}