.platzi-logo {
    display: inline-block;
    height: 40px;
    width: auto;
}

.main__description {
    font-size: 24px;
}

.main__title {
    font-size: 36px;
}

.main__text {
    margin-bottom: 20px;
}
